{% extends "template.twig" %}




{% block content %}

    <!-- Portfolio Modals -->
    
<div style="padding-top: 150px" class="modal-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    {% for data in data %}
                        <h2 style="text-align: center">{{ data.NameArticle }} {% if session.Id == data.user_iduser or session.Statut == 'Admin' %} <a href="index.php?action=ViewModify&Articleid={{ data.idArticle}}"><img src="../public/img/bouton-modifier_318-77528.png"/></a><a href="index.php?action=dropArticle&id={{ data.idArticle}}"><img src="../public/img/supprimer.png"/></h2></a> {% else %}</h2>{% endif %}
                    <hr class="star-primary">
                    <img src=".{{data.Dirphoto}}" class="img-responsive img-centered" alt="">
                    <p style="text-align: justify">{{data.Content|raw}} </p>
                    <ul class="list-inline item-details">
                        <li>Auteur:
                            <strong><a href="#"></a>
                            </strong>
                        </li>
                        <li>Date:
                            <strong><a href="#">{{ data.CreateDate|date('d-m-Y') }}</a>
                            </strong>
                        </li>
                        <li>Service:
                            <strong><a href="#">{{ data.Categorie }}</a>
                            </strong>
                        </li>
                    </ul>
                    {% if session.Nom %}
                    <div id="commentaire">
                        
                        <div class="row">
                            <form method="POST" action="index.php?action=addcommentaire&idarticle={{data.idArticle}}"  enctype="multipart/form-data" >
                                <div id="photoutilisateur" class="col-lg-12">
                                    <label for="comment">Commentaire:</label>
                                        <textarea class="form-control" rows="7"  name="commentaire" required></textarea>                                
                                    </div>
                                <div id="Bouton" class="col-lg-9">
                                    <button type="submit" class="btn btn-primary">Publier</button>
                                </div>
                            </form>    
                        </div>
                       </div>    
                        {% else %}
                        {% endif %}
                        
                        {% for commentaire in commentaire %}
                      
                            
                    {% if commentaire.Valide == '1' or session.Statut =='Admin' %}        
                    <div id="commentaires">
                        
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <p>{{commentaire.CreateDate}}</p>
                                {% if session.Statut == 'Admin' and commentaire.Valide == '1' %}
                        <div style="position: absolute">
                            <img src="../public/img/approuve.png"/>
                        </div>
                        {% else %}
                        {% endif %}
                            </div>
                            <div class="col-lg-6" style="text-align: right">
                                <a>{{ data.NameArticle }}</a> {% if session.Id == '1' %} <a href="index.php?action=valideCommentaire&idarticle={{data.idArticle}}&idCommentaire={{ commentaire.idCommentaire}}"><img src="../public/img/valider.png"/></a>{% else %}{% endif %}{% if session.Id == data.user_iduser or session.Id == '1' %}<a href="index.php?action=ViewModify&Articleid={{ data.idArticle}}"><img src="../public/img/bouton-modifier_318-77528.png"/></a><a href="index.php?action=dropArticle&id={{ data.idArticle}}"><img src="../public/img/supprimer.png"/></a></a>{% else%} {% endif%}

                            </div>
                        </div>
                        <div class="row">
                            
                            <div id="photoutilisateur" class="col-lg-2">
                                <img src="../public/img/utilisateur.png"><p> jalile</p>
                            </div>

                            <div id="txtcommentaire" class="col-lg-9">
                                <p>{{commentaire.ContentCommentaire}}</p>
                            </div>
                                
                            
                        </div>

                    </div>
                        {%else %}
                        {%endif%}

                        {% endfor %}
                        {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
   

{% endblock %}
